@use 'utils/colors';
@use 'utils/breakpoints';

:host {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: colors.$dark-purple;
}

@media screen and (max-width:breakpoints.$Small) {
	:host {
		background-color: colors.$purple;
	}
}