:host {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-image: linear-gradient(to right bottom, #ffffff, #f2f2f2, #e5e5e6, #d9d9d9, #cccccd, #c4c4c5, #bdbdbd, #b5b5b5, #afafaf, #aaaaaa, #a4a4a4, #9f9f9f);
}