.show-image {
	width: 240px;
	height: 300px;
}

.show-card {
	border-radius: 24px;
	overflow: hidden;
	object-fit: cover;
	display: inline-block;
	margin: 16px;
	height: 400px;
}

.rating {
	width: 50px;
}