.show-image {
	width: 240px;
	height: 300px;
	margin-right: 0px;
	object-fit:cover;
}

.show-card {
	border-radius: 24px;
	overflow: hidden;
	display: inline-block;
	margin: 16px;
	padding-right: 0px;
	height: 400px;
}
