@use 'utils/colors';

.main-layout-drawer {
	height: 100%;
}

.drawer-content {
	padding: 16px;
}

.side-drawer {
	padding: 32px 32px 56px;
	width: 320px;

	.logo {
		margin-bottom: 80px;
	}
}


.header {
	margin-bottom: 32px;

	display: flex;
	justify-content: space-between;
}

.links { 
	height: 100%;
	display: flex;
	flex-direction: column;
}

.log-out {
	margin-top: auto;
	width: 70px;
	color: white;
	background-color: colors.$dark-purple;
	border: none;
	cursor: pointer;
}