<mat-drawer-container class="main-layout-drawer">
  <mat-drawer mode="over" position="end" class="drawer" #drawer>
		<button mat-icon-button (click)="drawer.close()"><mat-icon>close</mat-icon></button>
		<app-side-nav></app-side-nav>
	</mat-drawer>
  <mat-drawer-content class="drawer-content">
		<header class="header">
			<app-logo></app-logo>

			<button mat-icon-button (click)="drawer.open()"><mat-icon>menu</mat-icon></button>
		</header>

		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>
