<mat-card>
	<mat-card-title>Register new user</mat-card-title>
	<form [formGroup]="registration">
		<mat-form-field appearance="outline">
			<mat-label>Email</mat-label>
			<input matInput formControlName="email">
			<mat-error *ngIf="registration.get('email')?.errors?.required else mandatoryWord">Cannot be empty</mat-error>
			<ng-template #mandatoryWord>
				<mat-error *ngIf="registration.get('email')?.errors?.mandatory">You should include the '@' sign</mat-error>
			</ng-template>
		</mat-form-field>

		<div formGroupName="passwords">
			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input matInput [type]="'password'" formControlName="password">
				<mat-error *ngIf="registration.get(['passwords', 'password'])?.errors?.required">Cannot be empty</mat-error>
				<mat-error *ngIf="registration.get(['passwords', 'password'])?.errors?.minlength">Password must be at least 8 characters long</mat-error>
		
			</mat-form-field>
	
			<mat-form-field appearance="outline">
				<mat-label>Confirm password</mat-label>
				<input matInput [type]="'password'" formControlName="confirmPassword">
				<mat-error *ngIf="registration.get(['passwords', 'password'])?.errors?.required">Cannot be empty</mat-error>
			</mat-form-field>
			<mat-error *ngIf="registration.get('passwords')?.errors?.notSame && (registration.get(['passwords', 'password'])?.touched && registration.get(['passwords', 'confirmPassword'])?.touched)">
				Password mismatch!
			</mat-error>
		</div>

		<button mat-raised-button [disabled]="registration.invalid">Register</button>
		<p>Already have an account? Go to <a [routerLink]="'/login'">login</a> page!</p>
	</form>
</mat-card>
