<mat-card>
	<mat-card-title>Register new user</mat-card-title>
	<form [formGroup]="registration">
		<mat-form-field appearance="outline">
			<mat-label>Email</mat-label>
			<input matInput formControlName="email">
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input matInput [type]="'password'" formControlName="password">
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Confirm password</mat-label>
			<input matInput [type]="'password'" formControlName="confirmPassword">
		</mat-form-field>

		<button mat-raised-button [disabled]="registration.invalid">Register</button>
		<p>Already have an account? Go to <a [routerLink]="'/login'">login</a> page!</p>
	</form>
</mat-card>
