<ng-container *ngIf="show">
	<div class="show-card">

			<div>
				<img src="{{ show.imageUrl }}" alt="Show image" class="show-image">
			</div>

			<div class="info">
				<div class="show-header">
					<h2 class="title">{{ show.title }}</h2>
					<div class="rating">
						<mat-icon>star</mat-icon>
						<app-rating [averageRating]="show.averageRating" class="rating"></app-rating>
					</div>
				</div>

				<div class="description">
					<p>{{show.description}}</p>
				</div>
			</div>	

	</div>
</ng-container>
