.show-detail {
	padding: 0;
	border-radius: 24px;
	overflow: hidden;
	display: inline-block;
	margin: 16px;
	width: 1000px;
	height: 600px;
	padding-right: 0px;
	object-fit: cover;
}

.show-image {
	width: 100%;
	margin-top: 16px;
	object-fit: cover;
}

.show-header {
	display: flex;
	justify-content: space-between;
	padding: 3px 10px;
}
