<mat-card>
	<mat-card-title>Post review</mat-card-title>
	<form [formGroup]="reviewForm">
	
		<mat-form-field appearance="outline">
			<mat-label>Comment</mat-label>
			<textarea matInput formControlName="comment"></textarea>
			<mat-error *ngIf="reviewForm.get('comment')?.errors?.required">Cannot be empty</mat-error>
		</mat-form-field>

		<div>
			Rating:
			<ng-container *ngFor="let rating of ratings">
				<label>
					<ng-container *ngFor="let filling of (filled$ | async)">
							<span *ngIf="filling.id === rating.value">
								<span *ngIf="!filling.fill else fillIt">
									<img src="{{ emptyStar }}" alt="Empty star">
								</span>

								<ng-template #fillIt>
									<img src="{{ filledStar }}" alt="Filled star">
								</ng-template>
							</span>
					</ng-container>
					<input (click)="giveRating(rating.value)" type="radio" formControlName="rating" class="hidden-radio" name="rating" [value]="rating.value">
				</label>
			</ng-container>
		</div>
			
		<button mat-raised-button (click)="onPost()" [disabled]="reviewForm.invalid">Post</button>
	</form>

</mat-card>

