<ng-container *ngIf="isLoading$ | async">
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>

<div *ngIf="(error$ | async) as error">
	<app-error-message [error]="error"></app-error-message>
</div>

<ng-container *ngIf="(templateData$ | async) as template">
	<app-show-detail class="card" [show]="template.show"></app-show-detail>
	<div class="reviews">
		<span>Reviews</span>
		<div class="review-list">
			<app-review-form (postReview)="post($event)"></app-review-form>
			<app-review-list (deleteReview)="delete($event)" [reviews]="template.reviews"></app-review-list>
		</div>
	</div>
</ng-container>
